# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.hmap
*.moved-aside

# Xcode Compatibility Files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift
*.swiftpm
.build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
Packages
Package.resolved

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# App Packaging
*.ipa
*.dSYM.zip
*.dSYM

# Dependency Managers
# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts

# Accio
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Code Injection
iOSInjectionProject/

# Miscellaneous
*.gcno
*.log
*.swp
*.lock
.DS_Store
.env
